 <header class="header-start">
   <h4 style="text-align: center;">LOGIN</h4>
<form id="form-id-login">
          <label style="margin-left:5%" for="id-login-id">Name</label>
          <input name="name" id="id-login-name" type="text" class="validate" placeholder="name">
          <label style="margin-left:5%" for="id-login-password">Password</label>
          <input name = "password" id="id-login-password" type="password" class="validate" placeholder="password">
      <button style="margin-left:1%">Submit</button>
    </form>
</header>
