	<nav  class="navbar navbar-light bg-dark">
    <a id="id-logout" href="/logout">Logout</a>
    <h4 id="id-elbrusnews">ELBRUS-NEWS</h4>
</nav>
	<div class="wrap">
		<div class = "form-container">
			<form id="app-form" class="app-form" name = "app-form">
				<label>Search News</label><br>
				<span class="choice-country">Choice country: </span>
				<select class="select-country">
					<option value = ""></option>
					<option value = "ua">Ukraine</option>
					<option value = "ru">Russia</option>
					<option value = "us">USA</option>
				</select><br>
				<input id="search-id" type="text" name="keywords-for-search" value=""  placeholder="search news" autocomplete="off">
				<p class ="categories-p">
					<span >Choice categories: </span>
					<select class="choice-categories">
						<option value =""></option>
						<option value ="sport">Sport</option>
						<option value = "science">Science</option>
						<option value = "business">Business</option>
						<option value = "politics">Politics</option>
					</select><br>
				</p>
				<br><button id="btn-search">Search</button>
			</form>
		</div>
    <div class="weatherBlog">
    </div>
     <div class="moneyDiv"></div>
	</div>
	<div class="news-container">
    
  </div>
