 <header class="header-start">
   <h4 style="text-align: center;">Registration</h4>
   <form  id="form-id-registration">
          <label style="margin-left:5%" for="reg-name-id">Name</label>
          <input  id="reg-name-id" name="name"  type="text" class="validate" placeholder="Name">
          <label for="reg-email-id">Email</label>
          <input id="reg-email-id" name="email"  type="text" class="validate" placeholder="Email">
          <label for="reg-password-id">Password</label>
          <input id="reg-password-id" name = "password" id="icon_telephone" type="password" class="validate" placeholder="Password">
          <label for="reg-age-id">Age</label>
          <input id="reg-age-id" name = "age" id="icon_telephone" type="text" class="validate" placeholder="Your age">
      <button>Submit</button>
    </form>
 </header>
 
