<div class="wrapper-start">
<nav>
    <div class="navbar navbar-light bg-dark">
      <ul id="nav-mobile" >
              <li><a class="font-weight-bold" id="id-reg-link" href="\registration">Sign Up</a></li>
              <li><a class="font-weight-bold" id="id-login-link" href="\login">Sign In</a></li>
     </ul>
     <p id="start-label">ELBRUS-NEWS</p>
   </div>
</nav>
<h3>We glad to see you!</h3>
<div id="wrap-for-donald">
  <img id="donald-img" src="/style/img/trump2.jpg" alt="Donald">
</div>
</div>
